<div class="blog-header">
  <h1 class="blog-title">The HelloEmber Blog</h1>
  <p class="lead blog-description">My little sandbox of Ember tricks.</p>
</div>
{{blog-post-editor}}
{{blog-posts posts=sortedModel}}
